body{
    background-image: url(https://media.tenor.com/images/f34f30ff8fca4776e671a7fff9f458d1/tenor.gif");
    background-repeat: repeat-x;
}
#header{ 
position: static;
top: 0px;
width: 250px;
background-color: lightblue;
border-top-left-radius: 15px; 
border-top-left-radius: 15px;
margin-left:auto;
margin-right:auto;
}
#chicken
p {
    border: 1px solid black;
    outline-color: blue;
}
p.dotted {outline-style: dotted;}
p.dashed {outline-style: dashed;}
p.solid {outline-style: solid;}
p.double {outline-style: double;}
p.groove {outline-style: groove;}
p.ridge {outline-style: ridge;}
p.inset {outline-style: inset;}
p.outset {outline-style: outset;}

#chickenwings
{
    width: 200px;
    height: 50px;
    background-color: #eee;
    overflow: visible;
}
#LeafyisHereBOYEEEEEEE
{
    letter-spacing: 3px;
}
#Chinesefood
{
    max-width: 500px;
    margin: auto;
    border: 3px solid #73AD21;
}